@import 'assets/scss';

.container {
  background: $white;
  margin: 10px 0;

  h3 {
    padding: 10px;
  }

  .catalog-container {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    overflow-x: scroll;
    overflow-y: hidden;

    .items-container {
      @include flex(column, center, center);
      flex: 1;
      min-width: 138px;
      padding-bottom: 10px;

      @include responsive(tablet) {
        min-width: 100px;
      }

      .catalog-img {
        img {
          min-width: 84px;
          height: 84px;

          @include responsive(tablet) {
            min-width: 60px;
            height: 60px;
          }
        }
      }

      p {
        text-align: center;
        font-size: 11pt;

        @include responsive(tablet) {
          font-size: 8pt;
        }
      }
    }
  }
}
