@import 'assets/scss';

.nav-container {
  @include flex(row, center, space-evenly);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $white;
  width: 100%;
  height: 8%;
  box-shadow: 0px 0px 2px 0px $medium_gray;

  @include multiple-responsive(desktop, tablet) {
    display: none;
  }

  .items-container {
    @include flex(column, center, space-between);

    .icon-home {
      $height: 2em;
      $ratio: 23/25;
      height: $height;
      width: $height * $ratio;
      color: $minor_yellow;
    }

    .icon-news {
      $height: 1.8em;
      $ratio: 26.272/24.4;
      height: $height;
      width: $height * $ratio;
      fill: $medium_gray;
    }

    .ui.image {
      position: absolute;
      bottom: 59px;
    }

    &.post {
      margin-left: 35px;
      margin-right: 35px;
    }

    .post-container {
      background-color: $main_yellow;
      border: solid 2px $white;
      border-radius: 50%;
      position: absolute;
      height: 85px;
      width: 85px;
      bottom: -12px;

      .icon-post {
        $height: 1.8em;
        $ratio: 23.228/23.227;
        height: $height;
        width: $height * $ratio;
        color: $dark_gray;
        position: absolute;
        top: 19px;
        left: 30px;
      }

      p {
        position: absolute;
        top: 45px;
        left: 28px;
      }
    }

    .icon-noti {
      $height: 1.8em;
      $ratio: 15.706/19.271;
      height: $height;
      width: $height * $ratio;
      color: $medium_gray;
    }

    p {
      color: $medium_gray;
    }
  }
}
