@import 'assets/scss';

.ui.breadcrumb {
  @include flex(row, center, flex-start);

  .breadcrumb-container {
    margin: 15px 0;
    .section {
      font-size: 1.125em;

      &.active {
        font-weight: 400;
      }
    }

    @include responsive(mobile) {
      margin: 15px 0 15px 10px;
    }
  }
}
