@import 'assets/scss';
// @import "node_modules/sass-google-fonts/src/GoogleFonts.scss";
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

div .title {
  // font-family: Poppins-Black;
  font-size: 55px;
  font-weight: 700;
  font-style: italic;
}

.title1 {

}
    // @include google-font ('Roboto');
    // font-family: Helvetica, sans-serif;

    


