@import 'assets/scss';

.container {
  background-color: $white;
  margin: 15px 0;

  h3 {
    padding: 10px 0 0 10px;
    font-weight: bold;
  }

  .products-container {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;

    .product-container {
      width: 200px;
      height: 315px;
      padding: 10px;
      border-top: solid 0.2px $light_gray;
      cursor: pointer;

      &:hover {
        box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
      }

      @include responsive(tablet) {
        width: 184px;
      }

      @include responsive(mobile) {
        width: 207px;
      }

      .product-img {
        width: 180px;
        height: 165px;
        border-radius: 2px;
      }

      .price {
        color: $red;
        font-weight: bold;
      }

      .address {
        @include flex(row, center, flex-start);
        color: $medium_gray;

        i.icon {
          height: 1.3rem;
        }

        span {
          font-size: 7pt;
        }
      }
    }
  }

  .see-more {
    @include flex(row, center, center);
    background-color: $pale_gray;
    height: 44px;
    color: $light_blue;
    font-size: 12pt;
    cursor: pointer;

    p {
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
