@import 'assets/scss';

.content-container {
  @include flex(column, flex-start, flex-start);
  margin-left: 5px;

  .ava-container {
    @include flex(row, center, flex-start);
  }

  .dividerDropdown {
    width: 100%;
    height: 2px;
    background-color: $light_gray;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
  }

  .items-container {
    margin-top: .2rem;

    &.item-bottom {
      margin-bottom: 1rem;
    }

    img {
      width: 32px;
      height: 32px;
      margin-right: 1rem;
    }
  }
}
