@import 'assets/scss';

.ui.upward.dropdown {
  display: flex;

  .item {
    .icon-more {
      fill: $medium_gray;
    }

    span {
      color: $medium_gray;
    }
  }

  >.menu {
    width: 100vw;
    left: -333px;
    height: calc(100vh - 176px);
    max-height: calc(100vh - 103px);
    overflow-y: scroll;

    .content-container {
      margin-left: 15px;

      .ava-container {
        .ava-image {
          position: relative;
          bottom: 0;
          z-index: 0;
          margin-right: 10px;
          width: 60px;
          height: 60px;
        }

      }

      .items-container {
        @include flex(row, center, flex-start);

        .icon-image {
          position: relative;
          bottom: 0;
          z-index: 0;
        }
      }
    }

  }
}
