@import 'assets/scss';

.bottom-popup-container {
  display: flex;
  position: absolute;
  width: 100vw;
  background: $white;
  bottom: 54px;
  height: calc(100vh - 181px);
  max-height: calc(100vh - 181px);
  overflow-y: scroll;
  z-index: -1;

  .content-container {
    width: 100%;
    margin: 10px 0 0 15px;

    .items-container {
      @include flex(row, center, flex-start);

      .ui.image {
        position: unset;
      }
    }
  }
}

.deactive {
  display: none;
}
