@import 'assets/scss';


.header-container {
  @include flex(row, center, space-between);
  background: $main_yellow;
  height: 52px;

  .logo-container {
    @include flex(row, center, flex-start);
    flex: 0.3 1 auto;

    .logo-img{
      width: 50%;
      height: 50%;
    }
  }

  .items-container {
    @include flex(row, center, flex-end);
    flex: 0.7 0 auto;
    font-size: 1rem;

    .item{
      @include flex(row, center, center);
      margin-left: 35px;
      .iconhome{
        height: 1.8em;
        width: 1.6rem;
        transform: scale(0.8);
        margin-right: 0.25rem;
      }

      .iconnews{
        height: 1.76em;
        width: 1.95rem;
        transform: scale(0.8);
        margin-right: 0.25rem;
      }
      .iconchat {
        height: 1.7em;
        width: 2.2rem;
        transform: scale(0.7);
        margin-right: 0.25rem;
      }
      .iconnoti {
        height: 1.4em;
        width: 1.2rem;
        transform: scale(1);
        margin-right: 0.25rem;
      }
      .iconmore {
        height: 0.5em;
        width: 1.7rem;
        transform: scale(0.9);
        margin-right: 0.25rem;
      }
    }
  }

  .searchbar{
    flex: 0.6 0 auto;

    .ui.input{
      width: 100%;

      i.icon{
        color: $minor_yellow;
      }
    }
  }

  .log{
    @include flex(row, center, center);
    margin-right: 35px;

    .log-i {
      height: 2.2em;
      width: 2.2rem;
      transform: scale(1);
      margin-right: 0.7rem;
    }

    span{
      font-weight: bold;
    }
  }

  .reg-btn{
    @include flex(row, center, center);
    background-color: $minor_yellow;
    border: none;
    border-radius: 5px;
    color: $white;

    .reg{
      @include flex(row, center, center);

      .reg-i{
        height: 1.7em;
        width: 1.7rem;
        transform: scale(0.6);
      }
    }
  }
}


