@import 'assets/scss';

.container {
  background: $white;
  margin: 10px 0;

  h3 {
    padding: 10px 0 0 15px;
  }

  .scroll-container {
    background: $white;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .catalog-container {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      overflow-x: scroll;
      overflow-y: hidden;

      @include responsive(mobile) {
        @include flex(row, flex-start, center);
      }

      .items-container {
        @include flex(column, center, center);
        flex: 1;
        min-width: 138px;
        max-width: 142px;
        padding-bottom: 10px;

        .catalog-img {
          height: 84px;
          max-width: 63%;
        }

        p {
          text-align: center;
          font-size: 11pt;
        }
      }
    }
  }
}
